/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.app {
  &-wrapper {
    margin: 20px auto;
    text-align: center;
  }
  &-button {
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    &-wrapper {
      width: 50%;
      margin: 30px auto;
    }
    &_up {
      margin-bottom: 3px;
      padding: 0.85em 1.3em
    }
    &_success {
      background-color: #44D97A;
      &:disabled {
        background-color: #999999;
      }
      &__small {
        padding: 5px;
      }
    }
    &_delete{
      background-color: #CA4C3C;
      &:disabled {
        background-color: #999999;
      }
      &__small {
        padding: 5px;
      }
    }
    &_alert{
      background-color: #cc8b00;
      &__small {
        padding: 5px;
      }
    }
    &_secondary {
      border: 1px solid #547BBA;
      background-color: transparent;
      color: #547BBA;
      &:hover {
        border: 1px solid #ffffff;
        background-color: #547BBA;
        color: #ffffff;
      }
      &__small {
        padding: 8px;
      }
    }
  }
  &-table{
    &-wrapper{
      max-height: 400px;
      overflow-y: scroll;
    }
    &-buttons {
      &_wrapper {
        width: 40px;
      }
    }
    &-priority {
      cursor: pointer;
        &-arrows {
          display: inline-block;
          vertical-align: baseline;
          width: 5px;
          height: 8px;
          background-image: url('../images/sort-sprite.png');
          background-repeat: no-repeat;
          margin-right: 5px;
          &.is-asc,
          &.asc {
            background-position: -5px 0;
          }
          &.is-desc,
          &.desc {
            background-position: -10px 0;
          }
        }
    }
  }
  &-input {
    &_hasError {
      border-color: #CA4C3C;
    }
  }
  &-alert-box {
    width: 80%;
    margin: 11px auto;
    border-style: solid;
    border-width: 0;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 15px 5px 5px;
    position: relative;
    transition: opacity 300ms ease-out;
    &_success {
      color: #95b840;
      background-color: #f6f9ee;
      border-left: 3px solid #a5c559;
      border-radius: 0;
    }
    &_warning {
      color: #c8783f;
      background-color: #faf4ef;
      border-left: 3px solid #d18e5e;
      border-radius: 0;
    }
  }
  &-dropdown-wrapper {
    text-align: right;
    margin: 10px auto;
    width: 80%;
  }
}
.help {
  &-text {
    color: #787878;
    display: block;
    font-style: italic;
    font-size: 10px;
    line-height: 1.3;
    max-width: 278px;
    &_error {
      color: #CA4C3C;
    }
  }
}

.left {
  float: left;
}
.right {
  float: right;
}

table {
  border-collapse: collapse;
  border: 0;
  width: 80%;
  margin: 0 auto;
  thead {
    background-color: #f8f8f8;
    color: #0a0a0a;
    td, th {
      padding: 8px 11px 11px;
      font-weight: bold;
      text-align: center;
    }
  }
  th, td {
    border-bottom: 1px solid #E1E1E1;
    font-weight: 400;
    text-align: center;
  }
  td {
    line-height: 15px;
    padding: 8px 11px 11px;
    font-size: 12px;
  }
  tr:last-child {
    td {
      border-bottom: 2px solid #E1E1E1;
    }
  }
  tr:nth-child(even) {
    background: #E1E1E1;
  }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul.pagination {
  border-radius: 3px;
  border: 1px solid #E1E1E1;
  height: 2.13333rem;
  display: inline-block;
  padding-left: 0;
}
ul.pagination li {
  color: #4A4A4A;
  font-size: 0.93333rem;
  height: 2rem;
}
ul.pagination li a,
ul.pagination li button {
  border-radius: 0;
  border-left: 1px solid #E1E1E1;
  transition: background-color 300ms ease-out;
  background: none;
  color: #547BBA;
  display: block;
  font-size: 15px;
  font-weight: normal;
  line-height: 34px;
  padding: 0 0.86667rem 0;
}
ul.pagination li:hover a,
ul.pagination li a:focus,
ul.pagination li:hover button,
ul.pagination li button:focus {
  background: #EEEEEE;
}
ul.pagination li.unavailable a,
ul.pagination li.unavailable button {
  cursor: default;
  color: #999999;
  pointer-events: none;
}
ul.pagination li.unavailable:hover a,
ul.pagination li.unavailable a:focus,
ul.pagination li.unavailable:hover button,
ul.pagination li.unavailable button:focus {
  background: transparent;
}
ul.pagination li.current a,
ul.pagination li.current button {
  background: #EEEEEE;
  color: #547BBA;
  cursor: default;
  font-weight: 400;
}
ul.pagination li.current a:hover,
ul.pagination li.current a:focus,
ul.pagination li.current button:hover,
ul.pagination li.current button:focus {
  background: #EEEEEE;
}
ul.pagination li {
  display: block;
  float: left;
}
ul.pagination li:first-child a,
ul.pagination li:first-child button {
  border-left: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
  margin-bottom: 5px;
}




//Dropdown styles

$dropdown-arrow-size: 5px !default;
$dropdown-padding: 10px !default;
$dropdown-width: 200px !default;
$dropdown-bg: #ffffff !default;
$dropdown-border-color: #E1E1E1 !default;
$dropdown-border-radius: 3px !default;

.dropdown {
  &.button {
    position: relative;
    padding-right: 45px;
    &:after {
      border-color: #547BBA transparent transparent transparent;
      border-style: solid;
      content: "";
      display: block;
      height: 0;
      position: absolute;
      top: 50%;
      width: 0;
      border-width: 5px;
      right: 11px;;
      margin-top: -0.16667rem;
    }
  }
  &.button.secondary {
    &:focus,
    &:hover {
      &:after {
        border-top-color: #ffffff;
      }
    }
  }
  &.button.secondary:disabled:after {
    border-top-color: #E1E1E1;
  }
  &.button:hover,
  &.button:focus {
    &:after {
      border-top-color: #ffffff;
    }
    &:disabled:after {
      border-top-color: #E1E1E1;
    }
  }
  &-trigger {
    position: relative;
    display: inline-block;
    text-align: left;
    .button {
      margin: 0;
    }
  }
  &-arrow {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    &-left {
      left: - $dropdown-arrow-size;
      border-width: $dropdown-arrow-size $dropdown-arrow-size $dropdown-arrow-size 0;
      border-color: transparent $dropdown-bg transparent transparent;
      &-top {
        top: $dropdown-padding/2;
      }
      &-bottom {
        bottom: $dropdown-padding/2;
      }
    }
    &-right {
      right: - $dropdown-arrow-size;
      border-width: $dropdown-arrow-size 0 $dropdown-arrow-size $dropdown-arrow-size;
      border-color: transparent transparent transparent $dropdown-bg;
      &-top {
        top: $dropdown-padding/2;
      }
      &-bottom {
        bottom: $dropdown-padding/2;
      }
    }
    &-top {
      top: - $dropdown-arrow-size;
      border-width: 0 $dropdown-arrow-size $dropdown-arrow-size $dropdown-arrow-size;
      border-color: transparent transparent $dropdown-bg transparent;
      &-left {
        left: $dropdown-padding/2;
      }
      &-right {
        right: $dropdown-padding/2;
      }
      &-center {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &-bottom {
      bottom: - $dropdown-arrow-size + .15;
      border-width: $dropdown-arrow-size $dropdown-arrow-size 0 $dropdown-arrow-size;
      border-color: $dropdown-bg transparent transparent transparent;
      &-left {
        left: $dropdown-padding/2;
      }
      &-right {
        right: $dropdown-padding/2;
      }
      &-center {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &-content {
    position: absolute;
    display: none;
    background-color: $dropdown-bg;
    border: 1px solid $dropdown-border-color;
    border-radius: $dropdown-border-radius;
    width: $dropdown-width;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 3px mix(#000000, transparent, 10%);
    z-index: 100;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
      padding: 8px;
      color: #4a4a4a;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        background-color: mix(mix(#ffffff, #9B9B9B, 30%), transparent, 15%);
      }
      a {
        color: #4a4a4a;
        display: block;
      }
      &.disabled,
      &[disabled] {
        a,
        button,
        .button {
          cursor: default;
          color: mix(#ffffff, #9B9B9B, 30%);
        }
      }
    }
    &.is-visible {
      display: block;
    }
    &-bottom-left {
      &:before {
        @extend .dropdown-arrow;
        @extend .dropdown-arrow-top;
        @extend .dropdown-arrow-top-left;
        margin-top: -1px;
        border-color: transparent transparent $dropdown-border-color transparent;
      }
      &:after {
        @extend .dropdown-arrow;
        @extend .dropdown-arrow-top;
        @extend .dropdown-arrow-top-left;
      }
    }
    &-bottom-right {
      &:before {
        @extend .dropdown-arrow;
        @extend .dropdown-arrow-top;
        @extend .dropdown-arrow-top-right;
        margin-top: -1px;
        border-color: transparent transparent $dropdown-border-color transparent;
      }
      &:after {
        @extend .dropdown-arrow;
        @extend .dropdown-arrow-top;
        @extend .dropdown-arrow-top-right;
      }
    }
    &-top-left {
      &:before {
        @extend .dropdown-arrow;
        @extend .dropdown-arrow-bottom;
        @extend .dropdown-arrow-bottom-left;
        margin-bottom: -1px;
        border-color: $dropdown-border-color transparent transparent transparent;
      }
      &:after {
        @extend .dropdown-arrow;
        @extend .dropdown-arrow-bottom;
        @extend .dropdown-arrow-bottom-left;
      }
    }
    &-top-right {
      &:before {
        @extend .dropdown-arrow;
        @extend .dropdown-arrow-bottom;
        @extend .dropdown-arrow-bottom-right;
        margin-bottom: -1px;
        border-color: $dropdown-border-color transparent transparent transparent;
      }
      &:after {
        @extend .dropdown-arrow;
        @extend .dropdown-arrow-bottom;
        @extend .dropdown-arrow-bottom-right;
      }
    }
    &-top-center {
      &:before {
        @extend .dropdown-arrow;
        @extend .dropdown-arrow-bottom;
        @extend .dropdown-arrow-bottom-center;
        margin-bottom: -1px;
        border-color: $dropdown-border-color transparent transparent transparent;
      }
      &:after {
        @extend .dropdown-arrow;
        @extend .dropdown-arrow-bottom;
        @extend .dropdown-arrow-bottom-center;
      }
    }
    &-bottom-center {
      &:before {
        @extend .dropdown-arrow;
        @extend .dropdown-arrow-top;
        @extend .dropdown-arrow-top-center;
        margin-bottom: -1px;
        border-color: transparent transparent $dropdown-border-color transparent;
      }
      &:after {
        @extend .dropdown-arrow;
        @extend .dropdown-arrow-top;
        @extend .dropdown-arrow-top-center;
      }
    }
  }
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
